body{
background-color:transparent;
color:#00ff9c;
font-family: monospace;
margin:0;
padding:40px;
} 
body{
position:relative;
z-index:1;
}

header{
border-bottom:1px solid #00ff9c;
margin-bottom:40px;
padding-bottom:20px;
} 
matrix{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:-1;
}

h1{
color:#00ff9c;
font-size:40px;
}

h2{
color:#00ff9c;
margin-top:40px;
}

.card{
background:#161b22;
padding:20px;
margin-top:15px;
border-radius:8px;
border:1px solid #30363d;
box-shadow:0 0 10px rgba(0,255,156,0.1);
}

.card:hover{
box-shadow:0 0 15px rgba(0,255,156,0.4);
}

a{
color:#58a6ff;
text-decoration:none;
}

section{
margin-top:30px;
}

p{
color:#c9d1d9;
} 
.content{
background:rgba(13,17,23,0.85);
padding:40px;
border-radius:10px;
} 
